@page "/chief/dishes/create"
@attribute [Authorize(Roles = "Chief")]

@inject NavigationManager NavigationManager
@inject IDishService DishService
@inject IDishTypeService DishTypeService

<MudStack Row="true">
    <MudButton>
        Відмінити
    </MudButton>
    <MudButton OnClick="@CreateDishAsync">
        Додати нову страву
    </MudButton>
</MudStack>

<div style="max-width: 30%;">
    <MudStack>
        <MudTextField Variant="Variant.Outlined" Label="Dish Name" @bind-Value="@DishDto.Name"/>
        <MudAutocomplete T="DishType" Label="Dish Category"
            @bind-Value="@DishDto.DishType" SearchFunc="@SearchDishType"
            ToStringFunc="@(e=> e==null?null : $"{e.Name}")"
            Variant="Variant.Outlined" />
        <MudCheckBox @bind-Value="IsAutoCalculateWeight" Label="Auto calculate weight" Color="Color.Primary"/>
        <MudTextField Variant="@(IsAutoCalculateWeight ? Variant.Text : Variant.Outlined)" ReadOnly="@IsAutoCalculateWeight" Label="Weight" @bind-Value="@DishDto.Weight"/>
        <MudTextField Variant="Variant.Outlined" Label="Serving Per Unit" @bind-Value="@DishDto.ServingPerUnit"/>
        <MudTextField Variant="Variant.Outlined" Label="Price" @bind-Value="@DishDto.PricePerUnit"/>
    </MudStack>

    <MudPaper style="padding: 10px; margin-top: 10px;">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudTextField Variant="Variant.Outlined" Label="Ingredient Name" @bind-Value="@AddIngredientDto.Name" />
            <MudTextField Variant="Variant.Outlined" Label="Weight" @bind-Value="@AddIngredientDto.Weight" />
            <MudButton Style="height: 40px;" Variant="Variant.Filled" Color="Color.Success"
                @onclick="OnAddIngredientClicked">Add</MudButton>
        </MudStack>

        <MudStack style="margin-top: 10px; ">
            @foreach(var ingredient in DishDto.Ingredients)
            {
                <MudStack Row="true" AlignItems="AlignItems.Stretch" >
                    <!-- Задаємо flex-grow: 1 для MudPaper -->
                    <MudPaper Outlined="true" style="margin: 0 10px; padding: 10px; flex-grow: 1;">
                        <MudStack Row="true">
                            <MudText>@ingredient.Name</MudText>
                            <MudSpacer />
                            <MudText>@ingredient.Weight g</MudText>
                        </MudStack>
                    </MudPaper>

                    <!-- Видаляємо фіксовану висоту і не вказуємо розтягування -->
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary">
                        Remove
                    </MudButton>
                </MudStack>
                <MudDivider style="margin: 5px 0;" />
            }
        </MudStack>
    </MudPaper>
</div>