@page "/chief/dishes/{Id:int}"
@attribute [Authorize(Roles = "Chief")]

@inject NavigationManager NavigationManager
@inject IDishService DishService
@inject IDishCategoryService DishCategoryService

<MudStack Row="true">
    <MudButton OnClick="@CancelEdit">
        Відмінити
    </MudButton>
    <MudButton OnClick="@CreateDishAsync">
        Зберегти
    </MudButton>
</MudStack>

<MudStack Row="true" AlignItems="AlignItems.Start">
<div style="max-width: 30%;">
    <MudStack>
        <MudTextField Variant="Variant.Outlined" Label="Dish Name" @bind-Value="@DishDto.Name"/>
        <MudAutocomplete T="CategoryBase" Label="Dish Category"
            @bind-Value="@DishDto.Category" SearchFunc="@SearchDishType"
            ToStringFunc="@(e=> e==null?null : $"{e.Name}({(e.IsShared ? "розподіляється" : "не розподіляється")})")"
            Variant="Variant.Outlined" 
            MaxItems="int.MaxValue"
            />
        @* <MudCheckBox @bind-Value="IsAutoCalculateWeight" Label="Auto calculate weight" Color="Color.Primary"/> *@
        <MudTextField Variant="@(IsAutoCalculateWeight ? Variant.Text : Variant.Outlined)" ReadOnly="@IsAutoCalculateWeight" Label="Вага" @bind-Value="@DishDto.Weight"/>
        @if(DishDto.Category != null && DishDto.Category.IsShared)
        {
            <MudTextField Variant="Variant.Outlined" Label="Рекомендована вага на 1 людину" @bind-Value="@DishDto.RecommendedWeightPerPerson"/>
        }
        <MudTextField Variant="Variant.Outlined" Label="Ціна" @bind-Value="@DishDto.PricePerUnit"/>
    </MudStack>


    <MudPaper style="padding: 10px; margin-top: 10px;">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudTextField Variant="Variant.Outlined" Label="Ingredient Name" @bind-Value="@AddIngredientDto.Name" />
            <MudTextField Variant="Variant.Outlined" Label="Weight" @bind-Value="@AddIngredientDto.Weight" />
            <MudButton Style="height: 40px;" Variant="Variant.Filled" Color="Color.Success"
                @onclick="OnAddIngredientClicked">Додати</MudButton>
        </MudStack>
        <MudStack style="margin-top: 10px; ">
            @foreach(var ingredient in DishDto.NewIngredientList)
            {
                <MudStack Row="true" AlignItems="AlignItems.Stretch" >
                    <!-- Задаємо flex-grow: 1 для MudPaper -->
                    <MudPaper Outlined="true" style="margin: 0 10px; padding: 10px; flex-grow: 1;">
                        <MudStack Row="true">
                            <MudText>@ingredient.Name</MudText>
                            <MudSpacer />
                            <MudText>@ingredient.Weight г.</MudText>
                        </MudStack>
                    </MudPaper>

                    <MudButton @onclick="(() => OnRemoveIngredient(ingredient))" Variant="Variant.Outlined" Color="Color.Primary">
                        Видалити
                    </MudButton>
                </MudStack>
                <MudDivider style="margin: 5px 0;" />
            }
        </MudStack>
    </MudPaper>

</div>
    <MudStack>
        <img src="@ImagePreviewUrl" Width="332" Alt="Food Image" Elevation="25" Class="rounded-lg ma-4"/>
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
            <ActivatorContent>
                <MudFab Color="Color.Secondary"
                        StartIcon="@Icons.Material.Filled.Image"
                        Label="Завантажити картинку" />
            </ActivatorContent>
        </MudFileUpload>
    </MudStack>
</MudStack>

@code {
}