
@page "/chief/drinks/create"
@attribute [Authorize(Roles = "Chief")]

@inject NavigationManager NavigationManager
@inject IDrinkService DrinkService
@inject IDrinkCategoryService DrinkCategoryService

<MudStack Row="true">
    <MudButton>
        Відмінити
    </MudButton>
    <MudButton OnClick="@CreateDrinkAsync">
        Зберегти
    </MudButton>
</MudStack>

<MudStack Row="true" AlignItems="AlignItems.Start">
    <div style="max-width: 30%;">
        <MudStack>
            <MudTextField Variant="Variant.Outlined" Label="Назва" @bind-Value="@DrinkCreatingDto.Name"/>
            <MudAutocomplete T="DrinkCategory" Label="Категорія"
                @bind-Value="@DrinkCreatingDto.Category" SearchFunc="@SearchDrinkCategory"
                ToStringFunc="@(e=> e==null?null : $"{e.Name}({(e.IsShared ? "розподіляється" : "не розподіляється")})")"
                Variant="Variant.Outlined" />

            <MudCheckBox @bind-Value="@DrinkCreatingDto.IsAlcoholic" Label="Алкогольний напій" Color="Color.Primary"/>

            <MudTextField Variant="Variant.Outlined" Label="Об'єм" @bind-Value="@DrinkCreatingDto.Volume"/>

            @if(DrinkCreatingDto.Category != null && DrinkCreatingDto.Category.IsShared)
            {
                <MudTextField Variant="Variant.Outlined"
                    Label="Об'єм на людину"
                    @bind-Value="@DrinkCreatingDto.VolumePerPerson"/>
            }

            <MudTextField Variant="Variant.Outlined" Label="Ціна" @bind-Value="@DrinkCreatingDto.PricePerUnit"/>
        </MudStack>
    </div>
    <MudStack>
        <img src="@ImagePreviewUrl" Width="332" Alt="Food Image" Elevation="25" Class="rounded-lg ma-4"/>
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
            <ActivatorContent>
                <MudFab Color="Color.Secondary"
                        StartIcon="@Icons.Material.Filled.Image"
                        Label="Load picture" />
            </ActivatorContent>
        </MudFileUpload>
    </MudStack>
</MudStack>