@page "/orders/create"
@attribute [Authorize(Roles = "User")]

@inject IFoodItemService FoodItemService
@inject IDishService DishService
@inject IDrinkService DrinkService
@inject IMenuService MenuService
@inject IEventTypeService EventTypeService
@inject IOrderService OrderService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

@inject ISnackbar Snackbar
@inject RestaurantDialogFactory DialogFactory
@inject OrderPageService OrderPageService

@inject SidebarStateService SidebarStateService


<MudDrawer @bind-Open="DrawerOpen" Elevation="2">
    <NavMenuCategories />
</MudDrawer>

<MudTabs Elevation="1" Rounded="true" PanelClass="pa-6" ActivePanelIndexChanged="OnActivePanelIndexChanged">
    <MudTabPanel Text="Інформація">
        <div style="max-width: 300px;" Align="left">

            <MudAutocomplete T="EventType" Label="Івент" @bind-Value="@BaseInfo.EventType"
                SearchFunc="@SearchEventType" ToStringFunc="@(e=> e==null?null : $"{e.Name}")"
                Variant="Variant.Outlined" />

            <MudDivider style="margin: 10px 0;" />

            @{
                int i = 1;
            }
            @foreach(var date in BaseInfo.OrderDays)
            {
                if(i > 1)
                {
                    <MudDatePicker @bind-Date="@date.Date" style="max-width: 300px;" ReadOnly="true"
                        IsDateDisabledFunc="@((DateTime dt)=>DisabledDates.Contains(dt.Date))"
                        AdditionalDateClassesFunc="@((DateTime dt)=>"" )" />
                }
                else
                {
                    <MudDatePicker @bind-Date="@date.Date" style="max-width: 300px;" Label="Оберіть дату"
                        MinDate="MinDate"
                        IsDateDisabledFunc="@((DateTime dt)=>DisabledDates.Contains(dt.Date))"
                        AdditionalDateClassesFunc="@((DateTime dt)=>"" )" />
                }

                i++;
            }

            @if(OrderPageService.CanAddDay())
            {
                <MudButton @onclick="AddDate">Додати ще один день</MudButton>
            }

            <MudDivider style="margin: 10px 0; max-width: 300px;" />

            <MudTextField style="max-width: 300px;" Label="Кількість гостей" Variant="Variant.Outlined"
                @bind-Value="@BaseInfo.GuestCount" />
        </div>
    </MudTabPanel>

    @if(OrderPageService.BaseInfoIsCorrect)
    {
        <MudTabPanel Text="Пропозиції меню">
            <div class="menus-container">
                @foreach(var menuItem in MenuVariants)
                {
                    <MenuItemCreatingOrderComponent MenuData="@menuItem" UseClicked="OnUseMenuClicked"/>
                }
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Додати страви">
            <MudAutocomplete T="OrderDayDto" Label="Select Date" @bind-Value="@OrderPageService.CurrentOrderDay"
                SearchFunc="@SearchSelectedDishesDates" ToStringFunc="@(e=> e==null?null : $"{e.Date.ToString()}")"
                Variant="Variant.Outlined" 
                Style="width: fit-content;"/>

            <MudStack>

                @foreach(var item in MenuItemsToSelect)
                {
                    <MenuItemToSelectComponent MenuItem="@item" 
						OnAddItem="OrderPageService.AddItem" 
						OnRemoveItem="OrderPageService.RemoveItem"/>
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Вибрані страви">
            <MudStack Row="true" Align="Align.Start" AlignItems="AlignItems.Center" Spacing="1" Style="width: fit-content;">
                <MudAutocomplete T="OrderDayDto" Label="Дата для страв" @bind-Value="@OrderPageService.CurrentOrderDay"
                    SearchFunc="@SearchSelectedDishesDates" ToStringFunc="@(e=> e==null?null : $"{e.Date.ToString()}")"
                    Variant="Variant.Outlined" 
                    Style="width: fit-content;"/>

                @* <MudAutocomplete T="MenuForDate" Label="Select Date" @bind-Value="@CurrentMenuForDate"
                    SearchFunc="@SearchSelectedDishesDates" ToStringFunc="@(e=> e==null?null : $"{e.Date.ToString()}")"
                    Variant="Variant.Outlined" 
                    Style="width: fit-content;"/> *@

                <MudButton @onclick="CalculateQuantity"
                    Variant="Variant.Filled" Color="Color.Primary">
                    Перерахувати кількість
                </MudButton>
            </MudStack>

            <MudStack>
                @if (OrderPageService.CurrentOrderDay != null)
                {
                    @foreach (var item in OrderPageService.CurrentOrderDay.SelectedFoodItems)
                    {
                        <SelectedFoodItemComponent SelectedFoodItem="@item"/>
                    }
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Підтвердження" >
            <MudStack Align="AlignItems.Start" Class="left-aligned">
                @foreach(var orderDay in BaseInfo.OrderDays)
                {
                    <MudText Typo="Typo.h5">
                        @orderDay.Date
                    </MudText>
                    @foreach(var selectedFoodItem in orderDay.SelectedFoodItems)
                    {
                        <MudText>
                            @selectedFoodItem.Item.Name (@selectedFoodItem.Count шт. x @selectedFoodItem.Item.PricePerUnit UAH) - @(selectedFoodItem.Count * selectedFoodItem.Item.PricePerUnit) UAH
                        </MudText>
                    }
                    <MudDivider style="border: 2px solid;" />
                }

                <MudText>
                    Загальна вартість замовлення: @OrderPageService.GetOrderPrice() UAH
                </MudText>

                <MudButton @onclick="CreateOrderAsync" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false">
                    Створити замовлення
                </MudButton>
            </MudStack>
        </MudTabPanel>
    }
</MudTabs>

<style>
    .menus-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .left-aligned {
        align-items: flex-start !important;
        width: auto !important;
        max-width: fit-content;
    }
</style>