@page "/orders/create"
@attribute [Authorize(Roles = "User")]

@inject IDishService DishService
@inject IMenuService MenuService
@inject IEventTypeService EventTypeService
@inject IOrderService OrderService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

@inject ISnackbar Snackbar
@inject RestaurantDialogFactory DialogFactory

@inject SidebarStateService SidebarStateService

<MudTabs Elevation="1" Rounded="true" PanelClass="pa-6" >
    <MudTabPanel Text="Base Info">
        <div style="max-width: 300px;" Align="left">

            <MudAutocomplete T="EventType" Label="Event Type" @bind-Value="@BaseInfo.SelectedEventType"
                SearchFunc="@SearchEventType" ToStringFunc="@(e=> e==null?null : $"{e.Name}")"
                Variant="Variant.Outlined" />

            <MudDivider style="margin: 10px 0;" />

            @foreach(var date in BaseInfo.MenusForDate)
            {
                <MudDatePicker @bind-Date="@date.Date" style="max-width: 300px;" Label="Select Date"
                    IsDateDisabledFunc="@((DateTime dt)=>_disabledDates.Contains(dt.Date))"
                    AdditionalDateClassesFunc="@((DateTime dt)=>"" )" />
            }
            <MudDateRangePicker @bind-DateRange="@DateRange" MinDate="_minDate" MaxDate="@_maxDate"
                IsDateDisabledFunc="@((DateTime dt)=>_disabledDates.Contains(dt.Date))"
                Margin="Margin.Dense" HelperText="@HelperText" Variant="Variant.Outlined" Label="Range" 
                />

            <MudButton @onclick="AddDate">Add Date</MudButton>

            <MudDivider style="margin: 10px 0; max-width: 300px;" />

            <MudTextField style="max-width: 300px;" Label="Guest count" Variant="Variant.Outlined"
                @bind-Value="@BaseInfo.GuestCount" />
        </div>
    </MudTabPanel>

    @if(true)
    {
        <MudTabPanel Text="Suggestions">
            <MudStack>
                @foreach(var menuItem in MenuVariants)
                {
                    <MenuItemComponent MenuData="@menuItem" UseClicked="OnUseMenuClicked"/>
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Add dishes">
            <MudStack>
                <MudAutocomplete T="MenuForDate" Label="Select Date" @bind-Value="@CurrentMenuForDate"
                    SearchFunc="@SearchSelectedDishesDates" ToStringFunc="@(e=> e==null?null : $"{e.Date.ToString()}")"
                    Variant="Variant.Outlined" />

                @foreach(var item in FilteredDishes)
                {
                    <DishToAddComponent DishToAdd="@item" OnAddDish="OnAddDish" OnRemoveDish="OnRemoveDish"/>
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Selected Dishes">
            <MudStack Row="true">
            <MudAutocomplete T="MenuForDate" Label="Select Date" @bind-Value="@CurrentMenuForDate"
                SearchFunc="@SearchSelectedDishesDates" ToStringFunc="@(e=> e==null?null : $"{e.Date.ToString()}")"
                Variant="Variant.Outlined" />

            <MudButton @onclick="CalculateQuantity" Variant="Variant.Filled" Color="Color.Primary">Auto quantity calculation</MudButton>
            </MudStack>

            <MudStack>
                @if (CurrentMenuForDate != null)
                {
                    @foreach (var dish in CurrentMenuForDate.SelectedDishes)
                    {
                        <SelectedDishComponent SelectedDish="@dish"></SelectedDishComponent>
                    }
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Summary and Confirmation" >
            <MudStack Align="AlignItems.Start" Class="left-aligned">
                <MudText>
                    @DaysCount x 5000 UAH
                </MudText>
                <MudText>
                    To pay in sum @(DaysCount * 5000) UAH
                </MudText>
                <MudButton @onclick="CreateOrderAsync" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false">
                    Create Order
                </MudButton>
            </MudStack>
        </MudTabPanel>
    }
</MudTabs>

<style>
        .left-aligned {
            align-items: flex-start !important;
            width: auto !important;
            max-width: fit-content;
        }
</style>