@page "/orders/create"
@attribute [Authorize(Roles = "User")]

@inject IEventTypeService _eventTypeService
@inject SidebarStateService _sidebarStateService


<MudTabs Elevation="1" Rounded="true" PanelClass="pa-6" >
    <MudTabPanel Text="Base Info">
        <div style="max-width: 300px;" Align="left">

            <MudAutocomplete T="EventType" Label="Event Type" @bind-Value="@BaseInfo.SelectedEventType"
                SearchFunc="@SearchEventType" ToStringFunc="@(e=> e==null?null : $"{e.Name}")"
                Variant="Variant.Outlined" />

            <MudDivider style="margin: 10px 0;" />

            <MudDatePicker @bind-Date="@BaseInfo.SelectedDate" style="max-width: 300px;" Label="Please, select data"
                IsDateDisabledFunc="@((DateTime dt)=>_disabledDates.Contains(dt.Date))"
                AdditionalDateClassesFunc="@((DateTime dt)=>"" )" />

            <MudDivider style="margin: 10px 0; max-width: 300px;" />

            <MudTextField style="max-width: 300px;" Label="Guest count" Variant="Variant.Outlined"
                @bind-Value="@BaseInfo.GuestCount" />
        </div>
    </MudTabPanel>
    @if(BaseInfo.IsSuccess)
    {
        <MudTabPanel Text="Suggestions">
            <MudStack>
                @for (int i = 0; i < 5; i++)
                {
                    <MudButton style="width: 80px; height: 80px">
                        Pattern + @i
                    </MudButton>
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Add dishes">
        </MudTabPanel>

        <MudTabPanel Text="Selected Dishes">
            <MudStack>
                @for (int i = 0; i < 5; i++)
                {
                    <MudButton style="width: 80px; height: 80px">
                        Dish + @i
                    </MudButton>
                }
            </MudStack>
        </MudTabPanel>
    }
</MudTabs>