@page "/orders/create"
@attribute [Authorize(Roles = "User")]

@inject RestaurantDialogFactory DialogFactory
@inject ISnackbar Snackbar
@inject IDishService DishService
@inject IMenuService MenuService
@inject IEventTypeService EventTypeService
@inject SidebarStateService SidebarStateService

<MudTabs Elevation="1" Rounded="true" PanelClass="pa-6" >
    <MudTabPanel Text="Base Info">
        <div style="max-width: 300px;" Align="left">

            <MudAutocomplete T="EventType" Label="Event Type" @bind-Value="@BaseInfo.SelectedEventType"
                SearchFunc="@SearchEventType" ToStringFunc="@(e=> e==null?null : $"{e.Name}")"
                Variant="Variant.Outlined" />

            <MudDivider style="margin: 10px 0;" />

            @foreach(var date in BaseInfo.MenusForDate)
            {
                <MudDatePicker @bind-Date="@date.Date" style="max-width: 300px;" Label="Select Date"
                    IsDateDisabledFunc="@((DateTime dt)=>_disabledDates.Contains(dt.Date))"
                    AdditionalDateClassesFunc="@((DateTime dt)=>"" )" />
            }

            <MudButton @onclick="AddDate">Add Date</MudButton>

            <MudDivider style="margin: 10px 0; max-width: 300px;" />

            <MudTextField style="max-width: 300px;" Label="Guest count" Variant="Variant.Outlined"
                @bind-Value="@BaseInfo.GuestCount" />
        </div>
    </MudTabPanel>

    @if(true)
    {
        <MudTabPanel Text="Suggestions">
            <MudStack>
                @foreach(var menuItem in MenuVariants)
                {
                    <MenuItemComponent MenuData="@menuItem" UseClicked="OnUseMenuClicked"/>
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Add dishes">
            <MudStack>
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Selected Dishes">
            <MudStack Row="true">
            <MudAutocomplete T="MenuForDate" Label="Select Date" @bind-Value="@CurrentMenuForDate"
                SearchFunc="@SearchSelectedDishesDates" ToStringFunc="@(e=> e==null?null : $"{e.Date.ToString()}")"
                Variant="Variant.Outlined" />

            <MudButton @onclick="CalculateQuantity">Auto quantity calculation</MudButton>
            </MudStack>

            <MudStack>
                @if (CurrentMenuForDate != null)
                {
                    @foreach (var dish in CurrentMenuForDate.SelectedDishes)
                    {
                        <SelectedDishComponent SelectedDish="@dish"></SelectedDishComponent>
                    }
                }
            </MudStack>
        </MudTabPanel>

        <MudTabPanel Text="Summary and Confirmation">
            <MudStack>
                <MudButton @onclick="CreateOrderAsync"></MudButton>
            </MudStack>
        </MudTabPanel>
    }
</MudTabs>
