@page "/orders"
@attribute [Authorize(Roles = "User")]

@inject IOrderService OrderService

<MudLink Variant="Variant.Filled" 
		Color="Color.Primary"
        style="font-size: 24px; margin-left: 10px;"
		href="/orders/create">
    Створити замовлення
</MudLink>

<MudGrid Class="mt-1">
@foreach(var order in Orders)
{
    <MudItem Style="width: 100%; display: block;">
        <MudPaper Class="pa-4" Style="width: 100%; display: block;">
            <div style="display: inline-block; max-width: 100%; width: auto;">
                <MudStack>
                    <MudLink Variant="Variant.Filled" Color="Color.Primary" style="font-size: 24px;"
                        href="@($"/orders/{order.Id}")">
                        №@order.Id
                    </MudLink>
                    <MudDivider style="border: 2px solid;" />
                    <MudText Typo="Typo.h5">
                        @order.EventType.Name
                    </MudText>
                    <MudText Typo="Typo.h5" Align="Align.Left">
                        @if(order.OrderDays.Count > 1)
                        {
                                <text>@(order.OrderDays.Min(x => x.Date).Date.ToString($"dd.MM.yyyy")) - @(order.OrderDays.Max(x
                            => x.Date).Date.ToString($"dd.MM.yyyy"))</text>
                        }
                        else
                        {
                                <text>@(order.OrderDays.FirstOrDefault().Date.ToString($"dd.MM.yyyy"))</text>
                        }
                    </MudText>
                </MudStack>
                <MudPaper
                    Style="background-color: gray; padding: 0 5px; display: inline-block; width: auto; margin-top: 15px;"
                    FlexGrow="0">
                    <MudText Typo="Typo.subtitle2" Style="color: black;">
                        @if(order.Status == OrderStatusEnum.Created)
                        {
                            <text>очікує на підтвердження менеджера...</text>
                        }
                        else if(order.Status == OrderStatusEnum.AwaitingPayment)
                        {
                            <text>очікує на оплату</text>
                        }
                    </MudText>
                </MudPaper>
                <div style="margin-top: 15px;">
                    @if(order.Status == OrderStatusEnum.AwaitingPayment)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                            @onclick="@(() => PayForOrder(order))">
                            Оплатити
                        </MudButton>
                    }
                </div>
            </div>
        </MudPaper>
    </MudItem>
}
</MudGrid>
